*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
/* share css style  */

.inter {
  font-family: "Inter", sans-serif;
}
.container{
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}
/* main css style  */
#header{
  background-color: #1A0B2E;
  padding: 1.87rem 0;
}
.nav_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_main .nav_logo{
  max-width: 219px;
  max-height: 32px;
}
.nav_main .nav_logo img{
  width: 100%;
}
.nav_main ul{
  display: flex;
  gap: 2rem;
}
.nav_main ul li{
  list-style: none;
}
.nav_main ul li a:hover{
  color: #00FF88;
}
.nav_main ul li a{
  font-size: 1rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.nav_btn{
  display: flex;
  align-items: center;
  border-radius: 100px;
  background: linear-gradient(
  47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  padding: 0.75rem 1rem;
  border: none;
  cursor: pointer;
}
.nav_btn span{
  font-size: 1rem;
  font-weight: 600;
  color: white;
  margin-right: 0.4rem;
}
.nav_btn span:hover{
  color: #00FF88;
}
.nav_btn img{
  width: 100%;
}
.hamburger{
  display: none;
  width: 24px;
  height: 24px;
  background-color: #1A0B2E;
  border: none;
}
.hamburger img{
  width: 100%;
}
/* Banner section style  */
#banner_section{
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6.25rem 0;
}
.banner_main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner_img{
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
  position: relative;
}
.banner_img img{
  width: 100%;
}
.microphone{
  max-width: 200px;
  max-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.badge{
  background-color: #00FF88;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  display: inline;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  position: absolute;
  top: 15px;
  right: 0px;
}
.banner_main h1{
  font-size: 4.25rem;
  font-weight: 800;
  margin-top: 3.5rem;
  margin-bottom: 0.5rem;
  color: white;
}
.banner_main p{
  font-size: 1rem;
  font-weight: 400;
  color: #D1CFD8;
  margin-bottom: 1.5rem;
  text-align: center;
}
.banner_btn{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.banner_btn button{
  color: white;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  background: linear-gradient(
  47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  border-radius: 100px;
  border: 1px solid #1A0B2E;
}
.banner_btn button:hover{
  color: #00FF88;
  background: transparent;
  border: 1px solid #00FF88;
}
.banner_btn button img{
  width: 20px;
  height: 20px;
}
.banner_btn button span{
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.5rem;
}
/* about section style  */
#about{
  background-color: #1A0B2E;
  padding: 7.5rem 0;
}
.about_top{
  text-align: center;
  border-bottom: 1px solid #312443;
}
.about_top h1{
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}
.about_top p{
  color: #D1CED5;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 4.36rem;
  padding: 0 12.5rem;
}
.about_bottom{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5rem;
}
.Listener_box{
  text-align: center;
}
.Listener_box h2{
  font-size: 3rem;
  font-weight: 900;
  color: #00FF88;
  margin-bottom: 1rem;
}
.Listener_box h4{
  font-size: 1rem;
  color: #D1CED5;
  text-transform: uppercase;
}
/* why choose section start */
#why_choose{
  background-color: #230E3D;
  padding: 7.5rem 0;
}
#why_choose h1{
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 2.5rem;
}
.why_choose_items_box{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.midium_items_box{
  grid-column: span 1;
  grid-row: span 2;
}
.large_items_box{
  grid-column: span 2;
  grid-row: span 1;
}
.why_choose_items{
  background-color: #2A0F4D;
  padding: 2.5rem;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.why_choose_items img{
  max-width: 60px;
  max-height: 60px;
}
.why_choose_items h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin: 1rem 0;
}
.why_choose_items p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #D1CFD8;
}
/* feature section style */
#feature_section{
  background-color: #1A0B2E;
  padding: 7.5rem 0;
}
.feature_main h1{
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 2.5rem;
}
.feature_items_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.feature_item{
  background-color: #250D44;
  padding: 1.5rem;
  border-radius: 24px;
}
.feature_item .video iframe{
  border-radius: 24px;
}
.feature_item h2{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin: 1rem 0;
}
.feature_item p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #D1CFD8;
}
.feature_item .time{
  font-size: 1rem;
  font-weight: 600;
  color: #00FF88;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.feature_item .time img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 6px;
}
/* Host section style */
#host{
  background-color: #1A0B2E;
  padding-bottom: 7.5rem;
}
#host h1{
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 2.5rem;
}
.host_main{
  background-color: #250D44;
  padding: 2.5rem;
  border-radius: 40px;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
}
.host_img{
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}
.host_img img{
  width: 100%;
}
.host_content{
  width: 78%;
}
.host_content h2{
  font-size: 2rem;
  font-weight: 700;
  color: white;
}
.host_content p{
  color: #D1CED5;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.host_content ul{
  display: flex; 
}
.host_content ul li{
  list-style: none;
  width: 40px;
  height: 40px;
  border: 1px solid #533C72;
  padding: 10px;
  border-radius: 50%;
  margin-right: 8px;
}
/* footer section style */
#footer{
  background-image: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 7.5rem 0;
}
.footer_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_main img{
  max-width: 410px;
  margin-bottom: 1.23rem;
}
.footer_main ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 2rem;
}
.footer_main ul li{
  list-style: none;
}
.footer_main ul li a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_main ul li a img{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 auto;
}
.footer_main ul li a span{
  font-size: 1rem;
  font-weight: 500;
  color: #D1CED5;
  margin-left: 8px;
}
.footer_main p{
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: #D1CED5;
  text-align: center;
}
/* media querry */
 @media screen and (min-width:576px) and (max-width:992px) {
     .nav_main ul{
    gap: 1rem;
}
.nav_btn{
  padding: 0.6rem 0.8rem; 
}
#banner_section{
  padding: 3.5rem 0;
}
#about{
  padding: 4.5rem 0;
}
.about_top p{
  margin-bottom: 2.5rem;
  padding: 0;
}
#why_choose{
  padding: 4.5rem 0;
}
.why_choose_items_box{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.large_items_box{
  grid-column: span 1;
  grid-row: span 1;
}
#feature_section{
  background-color: #1A0B2E;
  padding: 3.5rem 0;
}
.feature_items_box{
  flex-wrap: wrap;
  justify-content: center;
}
.feature_item{
  max-width: 450px;
}
#host{
  padding-bottom: 2.5rem;
}
#host h1{
  padding-top: 2rem;
  margin-bottom: 2rem;
}
#footer{
  padding: 4.5rem 0;
}
 }

@media screen and (max-width:576px) {
  .nav_main ul{
  display: none;
}
  .nav_btn{
  display: none;
}
  .hamburger{
  display: block;
}
#banner_section{
  padding: 2.5rem 0;
}
.banner_img{
  max-width: 300px;
  max-height: 300px;
}
.badge{
  font-size: 18px;
  top: 15px;
  right: 0px;
}
.banner_main h1{
  font-size: 3.25rem;
}
#about{
  background-color: #1A0B2E;
  padding: 2.5rem 0;
}
.about_top h1{
  font-size: 2rem;
}
.about_top p{
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}
.about_bottom {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

#why_choose {
    padding: 2.5rem 0;
}
#why_choose h1{
  font-size: 2rem;
}
.why_choose_items_box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#feature_section {
    padding: 2.5rem 0;
}
.feature_main h1{
  font-size: 2rem;
}
.feature_items_box {
    flex-wrap: wrap;
    gap: 1rem;
}

#host {
    padding-bottom: 2.5rem;
}
#host h1{
  font-size: 2rem;
  padding: 2rem 0;
  margin: 0;
}
.host_main{
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.host_content{
  width: 100%;
  text-align: center;
}
.host_content ul{
  justify-content: center;
}
#footer{
  padding: 2.5rem 0;
}
.footer_main img{
  margin-bottom: 1rem;
}
.footer_main ul{
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
  margin: 0 5.1rem;
}

.pulse-ring {
  width: 250px !important;
  height: 250px !important;
}
}

/* visual effect */

.c_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main podcast circle */
.podcast-circle {
  border-radius: 50%;
  overflow: hidden;
  z-index: 0;
  box-shadow:
    0 0 25px rgba(0, 255, 255, 0.6),
    0 0 60px rgba(0, 255, 255, 0.4);
}

.podcast-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Pulsing rings */
.pulse-ring {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid #2A186C;
  animation: pulse 2.5s ease-out infinite;
}

.pulse-ring.delay {
  animation-delay: 1.2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
