*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
/* share css style  */

.inter {
  font-family: "Inter", sans-serif;
}
.container{
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}
/* main css style  */
#header{
  background-color: #1A0B2E;
  padding: 1.87rem 0;
}
.nav_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_main .nav_logo{
  max-width: 219px;
  max-height: 32px;
}
.nav_main .nav_logo img{
  width: 100%;
}
.nav_main ul{
  display: flex;
  gap: 2rem;
}
.nav_main ul li{
  list-style: none;
}
.nav_main ul li a:hover{
  color: #00FF88;
}
.nav_main ul li a{
  font-size: 1rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.nav_btn{
  display: flex;
  align-items: center;
  border-radius: 100px;
  background: linear-gradient(
  47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  padding: 0.75rem 1rem;
  border: none;
  cursor: pointer;
}
.nav_btn span{
  font-size: 1rem;
  font-weight: 600;
  color: white;
  margin-right: 0.4rem;
}
.nav_btn span:hover{
  color: #00FF88;
}
.nav_btn img{
  width: 100%;
}
.hamburger{
  display: none;
  width: 24px;
  height: 24px;
  background-color: #1A0B2E;
  border: none;
}
.hamburger img{
  width: 100%;
}
/* Banner section style  */
#banner_section{
  background: url(/assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0;
}
.banner_main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner_img{
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
  position: relative;
}
.banner_img img{
  width: 100%;
}
.microphone{
  max-width: 200px;
  max-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.badge{
  background-color: #00FF88;
  padding: 8px 16px;
  border-radius: 100px;
  display: inline;
  font-size: 22px;
  font-weight: 400;
  color: #000;
  position: absolute;
  top: 15px;
  right: 0px;
}
.banner_main h1{
  font-size: 4.25rem;
  font-weight: 800;
  margin-bottom: 8px;
  color: white;
}
.banner_main p{
  font-size: 16px;
  font-weight: 400;
  color: #D1CFD8;
  margin-bottom: 24px;
  text-align: center;
}
.banner_btn{
  display: flex;
  gap: 8px;
  align-items: center;
}
.banner_btn button{
  color: white;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background: linear-gradient(
  47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  border-radius: 100px;
  border: 1px solid #1A0B2E;
}
.banner_btn button:hover{
  color: #00FF88;
  background: transparent;
  border: 1px solid #00FF88;
}
.banner_btn button img{
  width: 20px;
  height: 20px;
}
.banner_btn button span{
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
}
/* about section style  */
#about{
  background-color: #1A0B2E;
  padding: 120px 0;
}
.about_top{
  text-align: center;
  border-bottom: 1px solid #312443;
}
.about_top h1{
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}
.about_top p{
  color: #D1CED5;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 70px;
  padding: 0 200px;
}
.about_bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
}
.Listener_box{
  text-align: center;
}
.Listener_box h2{
  font-size: 48px;
  font-weight: 900px;
  color: #00FF88;
  margin-bottom: 16px;
}
.Listener_box h4{
  font-size: 16px;
  color: #D1CED5;
  text-transform: uppercase;
}
/* why choose section start */
#why_choose{
  background-color: #230E3D;
  padding: 120px 0;
}
#why_choose h1{
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
.why_choose_items_box{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.midium_items_box{
  grid-column: span 1;
  grid-row: span 2;
}
.large_items_box{
  grid-column: span 2;
  grid-row: span 1;
}
.why_choose_items{
  background-color: #2A0F4D;
  padding: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.why_choose_items img{
  max-width: 60px;
  max-height: 60px;
}
.why_choose_items h3{
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin: 16px 0;
}
.why_choose_items p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #D1CFD8;
}
/* media querry */
 @media screen and (min-width:576px) and (max-width:992px) {
     .nav_main ul{
    gap: 1rem;
}
.nav_btn{
  padding: 0.6rem 0.8rem; 
}
 }
@media screen and (max-width:576px) {
  .nav_main ul{
  display: none;
}
  .nav_btn{
  display: none;
}
  .hamburger{
  display: block;
}
.banner_img{
  max-width: 300px;
  max-height: 300px;
}
.badge{
  font-size: 18px;
  top: 15px;
  right: 0px;
}
.banner_main h1{
  font-size: 3.25rem;
}
  
}
@media screen and (min-width: 992px) {
  .container{
 
}
}